// Dark theme
darkColorMain = #555
darkColorLighter = #777
darkColorLightest = #eee
darkColorDarker = #333
darkColorDarkest = #000

.dark
  color: darkColorDarkest
  background: darkColorLighter

  .header,
  .search
    border-color: darkColorMain

  input
    background: transparent
    border: 1px solid darkColorMain

  .reading-item
    background: darkColorMain
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15),
      0 1px 2px rgba(0, 0, 0, 0.05)
    .item-link
      color: darkColorLightest
      &:hover,
      &:focus
        background: darkColorDarker
    .favicon
      border: 0

  .save-button
    color: #fff
    background: darkColorMain
    border-color: darkColorDarker
    &:hover,
    &:focus
      background: darkColorDarker
