// Light theme
.light
  color: #555
  background: #fff

  input
    background: transparent
    border: 1px solid #eee

  .reading-item
    background: #f7f7f7
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15),
      0 1px 2px rgba(0, 0, 0, 0.05)
    .item-link
      color: #555
      &:hover,
      &:focus
        color: #66cc98
        background: #fff
        .favicon
          border-color: #66cc98

  .reading-item.sortable-dragging
    .item-link
      color: #66cc98
      background: #fff
      .favicon
        border-color: #66cc98

  .save-button
    color: #fff
    background: #66cc98
    &:hover,
    &:focus
      background: #44aa76

  .button
    &:focus,
    &:hover,
    &.active
      background: #f7f7f7
