.slidein
  animation: 0.2s linear slidein

.slidein .item-link
  animation: 0.8s ease-out slidein-bounce

@keyframes slidein-bounce
  0%
    transform: translateX(containerWidth) scaleY(0)
  40%
    transform: translateX(containerWidth) scaleY(0)
  50%
    transform: translateX(30px) scaleY(1)
  60%
    transform: translateX(0) scaleY(1)
  80%
    transform: translateX(35px) scaleY(1)
  100%
    transform: translateX(0) scaleY(1)

@keyframes slidein
  0%
    max-height: 0px
    transform: translateX(containerWidth) scaleY(0)
  80%
    max-height: 100px
  100%
    transform: translateX(0) scaleY(1)

.slideout
  margin: 0
  animation: 0.65s slideout

@keyframes slideout
  0%
    max-height: 100px
    transform: translateX(0) scaleY(1)
  40%
    max-height: 0px
  100%
    max-height: 0px
    transform: translateX(containerWidth) scaleY(0)
