html
  font-size: baseFontSize

body,
input,
optgroup,
select,
textarea
  font-family: baseFont

body
  font-size: 1rem
  line-height: baseLineHeight

// Headings
h1
  margin: 0
  padding: 0
  line-height: 1
  font-size: 1.7rem

// Labels & inputs
label
  margin-right: 5px

input
  font-size: 1rem
  border: 1px solid #eee
  border-radius: 4px
  padding: 8px
  background: transparent
  &:focus
    outline: none
    border-color: #ddd

[type="search"]
  -webkit-appearance: textfield
  &::-webkit-search-cancel-button,
  &::-webkit-search-decoration
    -webkit-appearance: none
