baseFont = -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif
baseFontSize = 13px
baseLineHeight = 1.4

spacer = 15px
containerWidth = 360px
