* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body,
input,
optgroup,
select,
textarea {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

body {
  font-size: 13px;
  line-height: 1.4;
  color: #555;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.button {
  font-weight: bold;
  color: #fff;
  border: 1px solid #44aa76;
  border-width: 0 0 3px 0;
  background-color: #66cc98;
  padding: 5px;
  border-radius: 6px;
  text-align: center;
}

.button:focus,
.button:hover {
  cursor: pointer;
  background-color: #44aa76;
  color: #fff;
  outline: none;
}

header {
  width: 100%;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: center;
  padding: 30px 0 10px;
  margin-bottom: 10px;
}

input {
  font-size: 13px;
  border: 1px solid #eee;
  border-radius: 4px;
  padding: 8px;
}

input:focus {
  outline: none;
  border-color: #ddd;
}

[type="search"] {
  -webkit-appearance: textfield;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

.search {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}

.search input[type="search"] {
  width: 100%;
}

label {
  font-size: 13px;
  margin-right: 5px;
}

.save-button {
  width: 30px;
  height: 30px;
  line-height: 27px;
  padding: 0;
  margin: 0 10px;
}

.settings-button {
  float: right;
  position: absolute;
  top: 0;
  right: 0;
  width: 15px;
  height: 15px;
  line-height: 27px;
  padding: 0;
  margin: 10px 10px;
  border: 0;
  background-color: transparent;
}

.settings-button:focus,
.settings-button:hover, {
  outline: none;
}

h1 {
  margin: 0;
  padding: 0;
  line-height: 1;
  font-size: 22px;
  padding: 4px 0;
}

.container {
  position: relative;
  padding: 0 15px;
  width: 360px;
  max-width: 100%;
  margin: 0;
}

.reading-list {
  margin-bottom: 15px;
}

.reading-item {
  border-radius: 3px;
  padding: 0;
  margin: 10px 0 0 0;
  background-color: #f7f7f7;
  position: relative;
  overflow: hidden;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15), 0 2px 3px rgba(0, 0, 0, 0.05);
  transition: all 0.5s ease 0s;
}

.reading-item .item-link {
  text-decoration: none;
  display: block;
  width: 100%;
  color: #555;
  padding: 10px 50px 10px 56px;
  min-height: 56px;
}

.reading-item .item-link:focus,
.reading-item .item-link:hover {
  color: #66cc98;
  background-color: #fff;
}

.reading-item .item-link span {
  display: block;
}

.reading-item .item-link span.title {
  font-weight: bold;
}

.reading-item .favicon {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 36px;
  height: 36px;
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 1px;
}

.reading-item .item-link:hover .favicon {
  border-color: #66cc98;
}

.favicon > img {
  width: 100%;
  height: 100%;
  border-radius: 2px;
}

.favicon > img.error {
  display: none;
}

.reading-item .delete-button {
  position: absolute;
  top: 5px;
  right: 5px;
  border-radius: 100%;
  padding: 0;
  width: 20px;
  height: 20px;
  line-height: 20px;
  border: 0;
  background-color: transparent;
  color: #ccc;
  transform: rotateZ(0) scale(1);
  transition: transform 0.3s ease, box-shadow 0.5s ease;
}

.reading-item .delete-button:hover {
  background-color: #ccc;
  color: #fff;
  transform: rotateZ(90deg) scale(2);
  box-shadow: 1px 0 1px rgba(0, 0, 0, 0.15);
}

/* TODO: Prefix the animations */
.slidein {
  animation: 0.2s linear slidein;
}

.slidein .item-link {
  animation: 0.8s ease-out slidein-bounce;
}

@keyframes slidein-bounce {
  0% {
    transform: translateX(400px) scaleY(0);
  }

  40% {
    transform: translateX(400px) scaleY(0);
  }

  50% {
    transform: translateX(30px) scaleY(1);
  }

  60% {
    transform: translateX(0) scaleY(1);
  }

  80% {
    transform: translateX(35px) scaleY(1);
  }

  100% {
    transform: translateX(0) scaleY(1);
  }
}

@keyframes slidein {
  0% {
    max-height: 0px;
    transform: translateX(400px) scaleY(0);
  }

  80% {
    max-height: 100px;
  }

  100% {
    transform: translateX(0) scaleY(1);
  }
}

.slideout {
  margin: 0;
  animation: 0.65s slideout;
}

@keyframes slideout {
  0% {
    max-height: 100px;
    transform: translateX(0) scaleY(1);
  }

  40% {
    max-height: 0px;
  }

  100% {
    max-height: 0px;
    transform: translateX(400px) scaleY(0);
  }
}

/* Dark theme */
.dark {
  color: #000;
  background: #777;
}

.dark header,
.dark .search {
  border-color: #555;
}

.dark input {
  background: transparent;
  border: 1px solid #555;
}

.dark .reading-item {
  background: #555;
}

.dark .reading-item .item-link {
  color: #eee;
}

.dark .reading-item .item-link:hover,
.dark .reading-item .item-link:focus {
  background: #333;
}

.dark .reading-item .favicon {
  border: 0;
}

.dark .save-button {
  background: #555;
  border-color: #333;
}

.dark .save-button:hover,
.dark .save-button:focus {
  background: #333;
}
